NEXT_PUBLIC_SUPABASE_URL=https://hddnnahymjzmsrmolmrf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkZG5uYWh5bWp6bXNybW9sbXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MDk0ODgsImV4cCI6MjA4OTA4NTQ4OH0.njLnw7KqQ5sts-2Nh-26PQUy9KrifTyR-l-JG8bS5GY
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=documents
